.section__title {
  width: 100%;
  text-align: center;
  margin-bottom: 10rem;
  position: relative;
  @include flex(column, center, center, null);

  .title-back {
    font-size: 8.5rem;
    color: $grey;
    letter-spacing: 1rem;
  }

  .title-front {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    span {
      display: block;
      margin: -0.5rem 0;
      &:first-child {
        color: #474747;
        font-size: 2rem;
      }
      &:last-child {
        color: $primary;
        font-size: 3rem;
      }
    }
  }
}
